/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');
@import "compass/reset";

// Variables
$blue: #0074D9;
$green: #2ECC40;
$yellow: #FFDC00;
$red: #FF4136;
$back-color: grey * 0.5; //Brown
$circle-color: #ECE7EE;
$display-red: #DC0D29;

* {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

 /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

// Mixins
@mixin corner-border($position, $radius) {
  -webkit-border-#{$position}-radius: $radius;
     -moz-border-#{$position}-radius: $radius;
      -ms-border-#{$position}-radius: $radius;
          border-#{$position}-radius: $radius;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin pad($verticalPos, $horizontalPos, $color) {
  #{$verticalPos}: 0;
  #{$horizontalPos}: 0;
  background-color: $color;
  margin: 18px;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin layered-box-shadow() {
  @include box-shadow(1px, 0px, 1px, #222);
  @include box-shadow(0px, 1px, 1px, #222);
  @include box-shadow(1px, 2px, 1px, #222);
  @include box-shadow(2px, 1px, 1px, #222);
  @include box-shadow(3px, 2px, 1px, #222);
  @include box-shadow(2px, 3px, 1px, #222);
}



// BACKGROUND & GAME
html{
 // background-image: url('http://www.psdgraphics.com/file/wooden-background.jpg');
 background-size: cover;
}

.inline {
  display: inline-block;
}

.back {
  width: 540px;
  height: 540px;
  margin: 2em auto;
  text-align: center;
  overflow: auto;
  background-color: $back-color;
  @include border-radius(100%);
  z-index: 0;
}

//Pad styling
.pad-wrapper {
  position: relative;
  width: 532px;
  height: 532px;
  margin: auto;
  vertical-align: middle;
  box-sizing: border-box;
  @include border-radius(100%);
}
.pad {
  position: absolute;
  z-index: 1;
  width: 45%;
  height: 45%;
  margin: 5px;
  opacity: 0.7;
  transition: all 0.08s;
}
.pad:hover {
  opacity: 1;
  cursor: pointer;
}
.playing {
  transform: opacity(1.2);
  transform: scale(1.1);
}

.pad1 {
  @extend .pad;
  @include pad(top, left, $red);
  @include corner-border(top-left, 100%);
  margin-top: 24px;
}
.pad2 {
  @extend .pad;
  @include pad(top, right, $green);
  @include corner-border(top-right, 100%);
  margin-top: 24px;
}
.pad3 {
  @extend .pad;
  @include pad(bottom, left, $yellow);
  @include corner-border(bottom-left, 100%);
  opacity: 0.8; //because 0.7 yellow looks bad
}
.pad4 {
  @extend .pad;
  @include pad(bottom, right, $blue*1.4);
  @include corner-border(bottom-right, 100%);
}

//CENTER CONSOLE
.control-center {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: $circle-color;
  z-index: 10;
  display: inline-block;
  margin: 25% 0 0 -25%;
  box-sizing: border-box;
  border: 12px solid $back-color;
  text-align: center;
  @include border-radius(100%);
}

//Simon label
.brand{
  font-family: 'Alfa Slab One', cursive;
  color : #222;
  font-size: 3.2em;
  margin-top : 35px;
  .small{
    font-size : 0.3em;
    position : relative;
    top : -20px;
  }
}

.row {
  margin-top: 10px;
}

.count-container {
  position: relative;
  margin-right: 10px;
}
.count-display {
  font-family: 'VT323', monospace;
  color: $display-red;
  position: relative;
  padding: 0px;
  font-size: 2em;
  height: 32px;
  width: 50px;
  background-color: #32050C;
  border : 4px solid #222;
  margin:auto;
  @include border-radius(20%);
}

//Small buttons in center console
.btn-container {
  margin-left: 10px;
}
.small-btn {
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 10px auto;
  border: 2px solid darkgrey*0.7;
  @include border-radius(100%);
  @include layered-box-shadow();
}
.small-btn:active {
  @include box-shadow(1px, 0px, 1px, #222);
  @include box-shadow(0px, 1px, 1px, #222);
  transform: translate(2px, 2px);
}
.start-btn {
  @extend .small-btn;
  background-color: $red;
}
.strict-btn {
  @extend .small-btn;
  background-color: $yellow;
}

// Labels for center console
.label {
  position: relative;
  color : #222;
  font-family : 'Oswald',Arial,sans;
  font-size:0.7em;
  margin-top:5px;
  text-align:center;
}
.count-label, .start-label, .strict-label, .off-label, .on-label {
  @extend .label;
}



//Little light above the strict button
.led{
  position: relative;
  margin: 5px auto auto auto;
  width:6px;
  height:6px;
  background-color: #32050C;
  border: 2px solid #222;
  z-index: 2000;
  @include border-radius(100%);
}
.led.led-on {
  background-color: $display-red;
}

//On/Off Switch
.switch {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: $back-color;
  margin-bottom: -5px;
  @include border-radius(12%);
}
.switch-block {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: $blue;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 1px 0 1px 1px;
  @include border-radius(12%);
}
.switch-block.toggled {
  margin-left: 17px;
}
.bottom.row{
  margin-top: 24px;
}

//Can I click a thing or nah?
.clickable {
  pointer-events: auto;
  cursor: pointer;
}
.unclickable {
  pointer-events: none;
}


// Scale for das mobile screen
@media screen and (max-width: 500px){
  .wrap {
    top: 40px;

    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);

    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    left: 50%;
    margin-left: -142px;
  }
}
