/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 50, ../sass/screen.scss */
.back {
  width: 540px;
  height: 540px;
  margin: 1em auto;
  text-align: center;
  overflow: auto;
  background-color: #802A2A;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  z-index: 0;
}

/* line 61, ../sass/screen.scss */
.pad-wrapper {
  position: relative;
  width: 532px;
  height: 532px;
  margin: 18px auto;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}

/* line 71, ../sass/screen.scss */
.pad, .pad1, .pad2, .pad3, .pad4 {
  z-index: 1;
  width: 45%;
  height: 45%;
  display: inline-block;
  margin: 5px;
}

/* line 79, ../sass/screen.scss */
.pad1 {
  background-color: #FF4136;
  -webkit-border-top-left-radius: 100%;
  -moz-border-top-left-radius: 100%;
  -ms-border-top-left-radius: 100%;
  border-top-left-radius: 100%;
}

/* line 84, ../sass/screen.scss */
.pad2 {
  background-color: #2ECC40;
  -webkit-border-top-right-radius: 100%;
  -moz-border-top-right-radius: 100%;
  -ms-border-top-right-radius: 100%;
  border-top-right-radius: 100%;
}

/* line 89, ../sass/screen.scss */
.pad3 {
  background-color: #FFDC00;
  -webkit-border-bottom-left-radius: 100%;
  -moz-border-bottom-left-radius: 100%;
  -ms-border-bottom-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

/* line 94, ../sass/screen.scss */
.pad4 {
  background-color: #0074D9;
  -webkit-border-bottom-right-radius: 100%;
  -moz-border-bottom-right-radius: 100%;
  -ms-border-bottom-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
